/bin/
/build/
/eclipse/
/run/
/.gradle/
/.settings/
SetupWorkspace.bat

README.txt

gradlew.bat

gradlew
MineTrekMod_Client.launch

MineTrekMod_Server.launch
gradle.properties
build.gradle

.classpath